* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white: rgb(255, 255, 255);
	--navbar-violet-button: rgb(116, 119, 251);
	--official-blue: rgb(24, 61, 184);
	--official-blue-opacity: rgba(24, 61, 184, 0.5);
	--primary-font-bold: "Gilroy-ExtraBold", sans-serif;
	--primary-font-light: "Gilroy-Light", sans-serif;
	--secondary-font: "Quicksand", sans-serif;
}

@font-face {
	font-family: "Gilroy-ExtraBold";
	src: url(../fonts/Gilroy-ExtraBold.otf);
	font-family: "Gilroy-Light";
	src: url(../fonts/Gilroy-Light.otf);
}
/* !BACKGROUND IMG CONTROLER section START here ============================================= */
.page-bgimg-controler {
	background-image: url(../img/about-upper.png), url(../img/about-lower.png),
		url(../img/our-values-img/values-upper.png);
	background-position: 0 0, 0 26%, 0 85%;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: contain, contain, contain;
}
/* !BACKGROUND IMG CONTROLER section END here =============================================== */

/* !NAVBAR section START here ============================================= */

.main {
	position: relative;
	width: 100%;
	max-width: 120rem;
	margin: 0 auto;
}
.landing-page {
	background-image: url(../img/hero-left.png), url(../img/hero-right.png);
	background-position: top left, 103% 0;
	background-repeat: no-repeat, no-repeat;
	background-color: var(--official-blue);
	min-height: 46rem;
}
.fa-bars {
	position: absolute;
	background-color: transparent;
	color: var(--white);
	font-size: 2rem;
	top: 1%;
	right: 3%;
	margin-top: 2rem;
	border: none;
	outline: none;
	display: none;
	cursor: pointer;
}
.fa-xmark {
	background-color: var(--white);
	font-size: 2rem;
	padding: 0.5rem;
	border-radius: 50px;
	cursor: pointer;
	display: none;
}
.navbar {
	font-family: var(--secondary-font);
}
.navbar-ul {
	position: absolute;
	list-style: none;
	display: flex;
	top: 1%;
	right: 4%;
	background-color: var(--official-blue-opacity);
	padding: 1.3rem;
	border-radius: 5px;
}
.navbar .navbar-ul .navbar-li {
	padding: 0.6rem 1.6rem;
	color: var(--white);
	font-size: 1rem;
	text-decoration: none;
	transition: all 0.3s ease;
}
/* .navbar .navbar-ul .navbar-li:hover {
	padding: 0.3rem 1.7rem;
} */
.navbar .navbar-ul .navbar-email {
	background-color: var(--white);
	color: var(--navbar-violet-button);
	padding: 0.6rem 2.2rem;
	margin-left: 1rem;
	border-radius: 50px;
}
/* .navbar .navbar-ul .navbar-email:hover {
	padding: 0.6rem 2.5rem;
} */
.navbar .navbar-ul .navbar-call {
	background-color: var(--navbar-violet-button);
	padding: 0.6rem 1.7rem;
	margin-left: 1rem;
	border-radius: 50px;
}
/* .navbar .navbar-ul .navbar-call:hover {
	padding: 0.6rem 2rem;
} */

/* !NAVBAR section END here ============================================= */

/* !HERO section START here ============================================= */

.hero-main {
	position: absolute;
	margin-top: 13rem;
	margin-left: 5rem;
}
.hero-text .hero-text-1st,
.hero-text .hero-text-2nd {
	font-size: 3.5rem;
	font-family: var(--primary-font-bold);
	color: var(--white);
	background-color: var(--official-blue);
	padding-right: 2rem;
	font-size: 3.5rem;
}
.hero-text .hero-text-1st {
	display: inline-block;
}
.hero-text p {
	margin-top: 2rem;
	font-family: var(--secondary-font);
	color: var(--white);
	font-size: 1.125rem;
	font-weight: 100;
	line-height: 1.5rem;
}
.hero-link {
	margin-top: 3rem;

	position: relative;
}
.hero-link a {
	border-radius: 50px;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 12.5rem;
	position: absolute;
	font-family: var(--secondary-font);
	font-size: 1.125rem;
	font-weight: 500;
}
.hero-link .link-left {
	background-color: var(--white);
	color: var(--official-blue);
	padding: 0.5rem 1.5rem 0.5rem 0.5rem;
}
.hero-link .link-right {
	background-color: transparent;
	padding: 1rem 2rem 1rem 2rem;
	font-size: 1.125rem;
	border: 1px solid var(--white);
	color: var(--white);
	margin-left: 13.5rem;
}
.hero-link .link-left .rocket-icon {
	margin-right: 1rem;
}
.hero-link .fa-angle-right {
	font-size: 1rem;
	color: var(--white);
	border-radius: 50px;
	margin-left: 1rem;
}

/* !HERO section END here ============================================= */

/* !ABOUT-US section START here ============================================= */
.about-us {
	height: 150vh;
	width: 100%;
	/* background-image: url(../img/about-upper.png), url(../img/about-button.png);
	background-position: top, bottom;
	background-repeat: no-repeat, no-repeat;
	background-size: contain, contain; */
	position: relative;
}
.heading-button {
	position: absolute;
	display: inline-block;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: 3px solid #cecaca;
}
.heading-button button {
	border: none;
	outline: none;
	padding: 1.2rem 2.2rem;
	margin-bottom: 0.5rem;
	border-radius: 50px;
	font-size: 1.6rem;
	cursor: pointer;
	width: 17rem;
}
.heading-button-left {
	background-color: var(--official-blue);
	color: var(--white);
	margin-right: 1rem;
}
.heading-button-right {
	background-color: transparent;
	color: #333333;
}
.center-img-div {
	background-image: url(../img/about-center.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 41rem;
	width: 77rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}
.center-text-div {
	color: #333333;
	position: absolute;
	top: 62%;
	left: 82%;
	transform: translate(-62%, -82%);
	width: 29rem;
}
.center-text-div h1 {
	font-family: var(--primary-font-bold);
	font-size: 2.625rem;
	margin-bottom: 1.2rem;
}
.center-text-div p {
	font-family: var(--secondary-font);
	font-size: 1.125rem;
	line-height: 1.8rem;
}
.title-service {
	font-family: var(--primary-font-bold);
	color: #333333;
	position: absolute;
	font-size: 2.625rem;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translateX(-50%);
}
/* !ABOUT-US section END here ============================================= */

/* !OUR-SERVICE section START here ============================================= */
.service-container {
	background-image: url(../img/service-img/service-blue-gradient.png),
		url(../img/service-img/service-center-line.png);
	background-repeat: no-repeat, no-repeat;
	background-position: 0 19%, 3rem 61%;
}

.service-container {
	display: grid;
	grid-template-columns: repeat(30, 1fr);
	grid-template-rows: repeat(27, 1fr);
}
.tamplet,
.tamplet-center {
	/* border: 1px solid red; */
}
.grid-personal-care {
	/*?----- DIV IMAGE -----*/
	grid-column: 5/12;
	grid-row: 1/9;
	position: relative;
}
.grid-personal-care-arrow {
	/*!----- DIV ARROW -----*/
	grid-column: 11/13;
	grid-row: 6/10;
	position: relative;
}
.grid-community-nursing {
	/*?----- DIV IMAGE -----*/
	grid-column: 21/29;
	grid-row: 2/12;
	position: relative;
}
.grid-community-nursing-arrow {
	/*!----- DIV ARROW -----*/
	grid-column: 20/22;
	grid-row: 8/12;
	position: relative;
}
.grid-household-tasks {
	/*?----- DIV IMAGE -----*/
	grid-column: 2/8;
	grid-row: 10/18;
	position: relative;
}
.grid-household-tasks-arrow {
	/*!----- DIV ARROW -----*/
	grid-column: 8/12;
	grid-row: 11/15;
	position: relative;
}
.grid-cernter {
	/*?----- DIV IMAGE -----*/
	grid-column: 12/20;
	grid-row: 9/19;
	position: relative;
}
.grid-social-community {
	/*?----- DIV IMAGE -----*/
	grid-column: 24/30;
	grid-row: 12/21;
	position: relative;
}
.grid-social-community-arrow {
	/*!----- DIV ARROW -----*/
	grid-column: 20/24;
	grid-row: 13/17;
	position: relative;
}
.grid-supported-independent {
	/*?----- DIV IMAGE -----*/
	grid-column: 6/13;
	grid-row: 19/28;
	position: relative;
}
.grid-supported-independent-arrow {
	/*!----- DIV ARROW -----*/
	grid-column: 10/13;
	grid-row: 17/21;
	position: relative;
}
.grid-transport-assistance {
	/*?----- DIV IMAGE -----*/
	grid-column: 18/24;
	grid-row: 20/28;
	position: relative;
}
.grid-transport-assistance-arrow {
	/*!----- DIV ARROW -----*/
	grid-column: 18/21;
	grid-row: 17/22;
	position: relative;
}
.tamplet-center a {
	position: absolute;
	display: block;
	cursor: pointer;
	margin-bottom: 15%;
	bottom: 0;
	left: 41%;
	transform: translateX(-41%);
	padding: 1rem 2rem;
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(2px);
	color: var(--white);
	border: 1px solid var(--white);
	text-decoration: none;
	border-radius: 50px;
	font-family: var(--secondary-font);
}
.tamplet-center a i {
	margin-left: 1rem;
}

.tamplet img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tamplate-center p,
.tamplet p {
	position: absolute;
	color: #333333;
	font-family: var(--primary-font-bold);
	font-size: 1.6rem;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	/* background-color: red; */
	display: block;
	text-align: center;
}

/* !OUR-SERVICE section END here ============================================= */

/* !OUR-VALUES section START here ============================================= */
.our-values {
	/* background-image: url(../img/our-values-img/values-details-tree.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain; */
	position: relative;
	height: 100vh;
}
.title-values {
	font-family: var(--primary-font-bold);
	color: #333333;
	position: absolute;
	font-size: 2.625rem;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
}
.values-details-tree {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
}
.values-details-cards {
	/* background-color: green; */
	display: grid;
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translateX(-50%);
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
	width: 88%;
	padding-bottom: 5rem; /*!<<<<<<<<<<<<<<<<<< romove it>>>>>>>>>>>*/
}
.details-card {
	background-color: var(--official-blue);
	border-radius: 10px;
	position: relative;
	padding-bottom: 3rem;
}
.card-circle {
	position: absolute;
	top: -10%;
	left: 50%;
	transform: translateX(-50%);
	height: 6rem;
	width: 6rem;
	background-color: var(--official-blue);
	border-radius: 50px;
	border: 37px solid #ffffff;
}
.details-card-text {
	text-align: center;
	margin-top: 7rem;
}
.values-details-cards .details-card h2 {
	font-family: var(--primary-font-bold);
	margin-bottom: 2rem;
	font-size: 1.6rem;
	color: var(--white);
}
.values-details-cards .details-card p {
	font-family: var(--secondary-font);
	font-weight: 300;
	font-size: 1rem;
	margin-bottom: 2rem;
	color: var(--white);
	line-height: 2rem;
}
.values-details-cards .details-card a {
	font-family: var(--secondary-font);
	font-size: 1rem;
	text-decoration: none;
	padding: 1rem 2rem;
	background-color: var(--white);
	color: var(--official-blue);
	border-radius: 50px;
}
/* !OUR-VALUES section END here ============================================= */

/* !REVIEW section START here ============================================= */
.review-section{
	position: relative;
	height: 63vh;
}
.review-comments-img {
	background-image: url(../img/our-values-img/values-comments.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 33rem;
	width: 70%;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	border: 1px solid red;
}
.values-comments-text{
	margin: 7rem 11rem;
	text-align: center;
}
.values-comments-text p{
	font-family: var(--secondary-font);
	font-weight: 500;
	line-height: 2rem;
	font-size: 1.3rem;
	margin-bottom: 2rem;
}
.values-comments-text hr{
	width: 50%;
	border: 1px solid var(--official-blue);
	margin: 0 auto;
	color: var(--official-blue);
	margin-bottom: 2rem;
}
.values-comments-text h2{
	font-family: var(--primary-font-bold);
	color: var(--official-blue);

}


/* !REVIEW section END here ============================================= */
@media (max-width: 640px) {
	.landing-page {
		background-position: top left, center;
		background-repeat: no-repeat, no-repeat;
		background-size: cover, cover;
		background-color: var(--official-blue);
		min-height: 46rem;
	}
	.navbar-ul {
		padding-top: 2rem;
		display: block;
		top: 0;
		right: -100%;
		background-color: var(--official-blue);
		border-radius: 5px;
		height: 100vh;
		width: 50%;
		text-align: center;
		z-index: 3;
		transition: all 0.5s ease;
	}
	.navbar .navbar-ul .navbar-li {
		display: block;
		margin: 2rem 0;
	}
	.fa-bars,
	.fa-xmark {
		display: inline;
	}
	.hero-text .hero-text-1st,
	.hero-text .hero-text-2nd {
		font-size: 2rem;
		background-color: transparent;
	}
	.hero-main {
		margin-top: 13rem;
		margin-left: 1rem;
	}

	.hero-link a {
		max-width: 12.5rem;
	}
	.hero-link .link-left {
		padding: 0.5rem 1.5rem 0.5rem 0.5rem;
		font-size: 1rem;
	}
	.hero-link .link-right {
		background-color: transparent;
		padding: 1.1rem 2rem 1.1rem 1rem;
		font-size: 1rem;
		margin-left: 11rem;
	}
	.about-us {
		height: 50vh;
	}
	.heading-button {
		top: 5%;
		left: 16%;
	}
	.heading-button button {
		padding: 0.7rem 1.5rem;
		margin-bottom: 0.5rem;
		font-size: 1rem;
	}
	.heading-button-left {
		margin-right: 0rem;
	}
	.center-img-div {
		height: 11rem;
		width: 20rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
	}
	.hero-service {
		font-family: var(--Gilroy);
		color: #383636;
		position: absolute;
		font-weight: 900;
		font-size: 1.2rem;
		position: absolute;
		top: 95%;
		left: 63%;
		transform: translate(-95%, -58%);
	}
}

@media (min-width: 640px) and (max-width: 768px) {
	.landing-page {
		background-position: top left, center;
		background-repeat: no-repeat, no-repeat;
		background-size: cover, cover;
		background-color: var(--official-blue);
		min-height: 46rem;
	}
	.navbar-ul {
		padding-top: 2rem;
		display: block;
		top: 0;
		right: -100%;
		background-color: var(--official-blue);
		border-radius: 5px;
		height: 100vh;
		width: 50%;
		text-align: center;
		z-index: 3;
		transition: all 0.5s ease;
	}
	.navbar .navbar-ul .navbar-li {
		display: block;
		margin: 2rem 0;
	}
	.fa-bars,
	.fa-xmark {
		display: inline;
	}
	.hero-text .hero-text-1st,
	.hero-text .hero-text-2nd {
		font-size: 2rem;
		background-color: transparent;
	}
	.hero-main {
		margin-top: 13rem;
		margin-left: 1rem;
	}

	.hero-link a {
		max-width: 12.5rem;
	}
	.hero-link .link-left {
		padding: 0.5rem 1.5rem 0.5rem 0.5rem;
		font-size: 1rem;
	}
	.hero-link .link-right {
		background-color: transparent;
		padding: 1.1rem 2rem 1.1rem 1rem;
		font-size: 1rem;
		margin-left: 11rem;
	}
	.about-us {
		height: 50vh;
	}
	.heading-button {
		top: 5%;
		left: 16%;
	}
	.heading-button button {
		padding: 0.7rem 1.5rem;
		margin-bottom: 0.5rem;
		font-size: 1rem;
	}
	.heading-button-left {
		margin-right: 0rem;
	}
	.center-img-div {
		height: 11rem;
		width: 20rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
	}
	.hero-service {
		font-family: var(--Gilroy);
		color: #383636;
		position: absolute;
		font-weight: 900;
		font-size: 1.2rem;
		position: absolute;
		top: 95%;
		left: 63%;
		transform: translate(-95%, -58%);
	}
}
