* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--navbar-violet-button: rgb(116, 119, 251);
	--official-blue: rgb(24, 61, 184);
	--official-blue-opacity: rgba(24, 61, 184, 0.5);
	--Gilroy: "Gilroy", sans-serif;
	--Quicksand: "Quicksand", sans-serif;
}

@font-face {
	font-family: "Gilroy";
	src: url(../fonts/Gilroy-ExtraBold.otf);
}

/* !NAVBAR section START here ============================================= */

.main {
	position: relative;
	width: 100%;
	max-width: 120rem;
	margin: 0 auto;
}
.landing-page {
	background-image: url(../img/hero-left.png), url(../img/hero-right.png);
	background-position: top left, top right;
	background-repeat: no-repeat, no-repeat;
	background-color: var(--official-blue);
	min-height: 46rem;
}
.fa-bars {
	position: absolute;
	background-color: transparent;
	color: #ffffff;
	font-size: 2rem;
	top: 1%;
	right: 3%;
	margin-top: 2rem;
	border: none;
	outline: none;
	display: none;
	cursor: pointer;
}
.fa-xmark {
	background-color: #ffffff;
	font-size: 2rem;
	padding: 0.5rem;
	border-radius: 50px;
	cursor: pointer;
	display: none;
}
.navbar {
	font-family: var(--Gilroy);
}
.navbar-ul {
	position: absolute;
	list-style: none;
	display: flex;
	top: 1%;
	right: 5%;
	background-color: var(--official-blue-opacity);
	padding: 1.3rem;
	border-radius: 5px;
}
.navbar .navbar-ul .navbar-li {
	padding: 0.6rem 1.7rem;
	color: #ffffff;
	font-size: 1rem;
	text-decoration: none;
	transition: all 0.3s ease;
}
/* .navbar .navbar-ul .navbar-li:hover {
	padding: 0.3rem 1.7rem;
} */
.navbar .navbar-ul .navbar-email {
	background-color: #ffffff;
	color: var(--navbar-violet-button);
	padding: 0.6rem 2.2rem;
	margin-left: 1rem;
	border-radius: 50px;
}
/* .navbar .navbar-ul .navbar-email:hover {
	padding: 0.6rem 2.5rem;
} */
.navbar .navbar-ul .navbar-call {
	background-color: var(--navbar-violet-button);
	padding: 0.6rem 1.7rem;
	margin-left: 1rem;
	border-radius: 50px;
}
/* .navbar .navbar-ul .navbar-call:hover {
	padding: 0.6rem 2rem;
} */

/* !NAVBAR section END here ============================================= */

/* !HERO section START here ============================================= */

.hero-main {
	position: absolute;
	font-family: var(--Gilroy);
	margin-top: 13rem;
	margin-left: 6rem;
}
.hero-text .hero-text-1st,
.hero-text .hero-text-2nd {
	font-size: 3.5rem;
	font-weight: bold;
	color: #ffffff;
	background-color: var(--official-blue);
	padding-right: 2rem;
	font-size: 3.5rem;
}
.hero-text .hero-text-1st {
	display: inline-block;
}
.hero-text p {
	margin-top: 2rem;
	color: #ffffff;
	font-size: 1rem;
	font-weight: 200;
	line-height: 1.5rem;
}
.hero-link {
	margin-top: 3rem;
	font-family: var(--Quicksand);
	position: relative;
}
.hero-link a {
	border-radius: 50px;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 12.5rem;
	position: absolute;
}
.hero-link .link-left {
	background-color: #ffffff;
	color: var(--official-blue);
	padding: 0.5rem 1.5rem 0.5rem 0.5rem;
	font-size: 1.2rem;
	font-weight: 600;
}
.hero-link .link-right {
	background-color: transparent;
	padding: 1rem 2rem 1rem 1rem;
	font-size: 1.2rem;
	border: 1px solid #ffffff;
	color: #ffffff;
	margin-left: 13.5rem;
	font-weight: 600;
}
.hero-link .fa-rocket {
	font-size: 1.7rem;
	background-color: var(--official-blue);
	color: #ffffff;
	padding: 0.6rem 0.6rem 0.4rem 0.4rem;
	border-radius: 50px;
}
.hero-link .fa-angle-right {
	font-size: 1rem;
	color: #ffffff;
	border-radius: 50px;
}

/* !HERO section END here ============================================= */

/* !ABOUT-US section START here ============================================= */
.about-us {
	height: 180vh;
	width: 100%;
	background-image: url(../img/about-upper.png), url(../img/about-button.png);
	background-position: top, bottom;
	background-repeat: no-repeat, no-repeat;
	background-size: contain, contain;
	position: relative;
}
.heading-button {
	position: absolute;
	display: inline-block;
	top: 10%;
	left: 33%;
	border-bottom: 3px solid #cecaca;
}
.heading-button button {
	border: none;
	outline: none;
	padding: 1.2rem 2.2rem;
	margin-bottom: 0.5rem;
	border-radius: 50px;
	font-size: 1.6rem;
}
.heading-button-left {
	background-color: var(--official-blue);
	color: #ffffff;
	margin-right: 1rem;
}
.heading-button-right {
	background-color: transparent;
	color: black;
}
.center-img-div {
	background-image: url(../img/about-center.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 41rem;
	width: 77rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}
.hero-service {
	font-family: var(--Gilroy);
	color: #383636;
	position: absolute;
	font-weight: 900;
	font-size: 2.9rem;
	position: absolute;
	top: 95%;
	left: 58%;
	transform: translate(-95%, -58%);
}
/* !ABOUT-US section END here ============================================= */

/* !OUR-SERVICE section START here ============================================= */
.service-container {
	background-image: url(../img/service-img/service-blue-gradient.png);
	background-repeat: no-repeat;
	background-position: top left;
}

.service-container {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(16, 1fr);
}
.tamplet {
	border: 1px solid red;
}
.grid-personal-care {
	grid-column: 1/5;
	grid-row: 1/5;
	position: relative;
}
.grid-community-nursing {
	grid-column: 6/9;
	grid-row: 1/6;
	position: relative;
}
.grid-househoid-tasks {
	grid-column: 1/4;
	grid-row: 6/10;
	position: relative;
}
.grid-cernter {
	grid-column: 4/6;
	grid-row: 5/11;
	position: relative;
}
.grid-social-community {
	grid-column: 6/9;
	grid-row: 7/12;
	position: relative;
}
.grid-supported-independent {
	grid-column: 1/5;
	grid-row: 11/15;
	position: relative;
}
.grid-transport-assistance {
	grid-column: 5/8;
	grid-row: 12/16;
	position: relative;
}

.tamplet img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tamplate-center p,
.tamplet p{
	position: absolute;
	color: #333333;
	font-family: var(--Gilroy);
	font-size: 1.6rem;
	bottom: 0;
    left: 50%;
	transform: translateX(-50%);
	text-align: center;
}



/* !OUR-SERVICE section END here ============================================= */
@media (max-width: 640px) {
	.landing-page {
		background-position: top left, center;
		background-repeat: no-repeat, no-repeat;
		background-size: cover, cover;
		background-color: var(--official-blue);
		min-height: 46rem;
	}
	.navbar-ul {
		padding-top: 2rem;
		display: block;
		top: 0;
		right: -100%;
		background-color: var(--official-blue);
		border-radius: 5px;
		height: 100vh;
		width: 50%;
		text-align: center;
		z-index: 3;
		transition: all 0.5s ease;
	}
	.navbar .navbar-ul .navbar-li {
		display: block;
		margin: 2rem 0;
	}
	.fa-bars,
	.fa-xmark {
		display: inline;
	}
	.hero-text .hero-text-1st,
	.hero-text .hero-text-2nd {
		font-size: 2rem;
		background-color: transparent;
	}
	.hero-main {
		margin-top: 13rem;
		margin-left: 1rem;
	}

	.hero-link a {
		max-width: 12.5rem;
	}
	.hero-link .link-left {
		padding: 0.5rem 1.5rem 0.5rem 0.5rem;
		font-size: 1rem;
	}
	.hero-link .link-right {
		background-color: transparent;
		padding: 1.1rem 2rem 1.1rem 1rem;
		font-size: 1rem;
		margin-left: 11rem;
	}
	.about-us {
		height: 50vh;
	}
	.heading-button {
		top: 5%;
		left: 16%;
	}
	.heading-button button {
		padding: 0.7rem 1.5rem;
		margin-bottom: 0.5rem;
		font-size: 1rem;
	}
	.heading-button-left {
		margin-right: 0rem;
	}
	.center-img-div {
		height: 11rem;
		width: 20rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
	}
	.hero-service {
		font-family: var(--Gilroy);
		color: #383636;
		position: absolute;
		font-weight: 900;
		font-size: 1.2rem;
		position: absolute;
		top: 95%;
		left: 63%;
		transform: translate(-95%, -58%);
	}
}

@media (min-width: 640px) and (max-width: 768px) {
	.landing-page {
		background-position: top left, center;
		background-repeat: no-repeat, no-repeat;
		background-size: cover, cover;
		background-color: var(--official-blue);
		min-height: 46rem;
	}
	.navbar-ul {
		padding-top: 2rem;
		display: block;
		top: 0;
		right: -100%;
		background-color: var(--official-blue);
		border-radius: 5px;
		height: 100vh;
		width: 50%;
		text-align: center;
		z-index: 3;
		transition: all 0.5s ease;
	}
	.navbar .navbar-ul .navbar-li {
		display: block;
		margin: 2rem 0;
	}
	.fa-bars,
	.fa-xmark {
		display: inline;
	}
	.hero-text .hero-text-1st,
	.hero-text .hero-text-2nd {
		font-size: 2rem;
		background-color: transparent;
	}
	.hero-main {
		margin-top: 13rem;
		margin-left: 1rem;
	}

	.hero-link a {
		max-width: 12.5rem;
	}
	.hero-link .link-left {
		padding: 0.5rem 1.5rem 0.5rem 0.5rem;
		font-size: 1rem;
	}
	.hero-link .link-right {
		background-color: transparent;
		padding: 1.1rem 2rem 1.1rem 1rem;
		font-size: 1rem;
		margin-left: 11rem;
	}
	.about-us {
		height: 50vh;
	}
	.heading-button {
		top: 5%;
		left: 16%;
	}
	.heading-button button {
		padding: 0.7rem 1.5rem;
		margin-bottom: 0.5rem;
		font-size: 1rem;
	}
	.heading-button-left {
		margin-right: 0rem;
	}
	.center-img-div {
		height: 11rem;
		width: 20rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
	}
	.hero-service {
		font-family: var(--Gilroy);
		color: #383636;
		position: absolute;
		font-weight: 900;
		font-size: 1.2rem;
		position: absolute;
		top: 95%;
		left: 63%;
		transform: translate(-95%, -58%);
	}
}
